server:
  port: 8080
  forward-headers-strategy: framework

spring:
  config:
    activate:
      on-profile: prod

culture:
  api:
    base-url: https://apis.data.go.kr/B553457/cultureinfo
    auth-key: "" # API KEY