server:
  port: 8080
  forward-headers-strategy: framework

spring:
  profiles:
    active: prod

culture:
  api:
    base-url: https://apis.data.go.kr/1360000/WthrWrnInfoService
    auth-key: ${CULTURE_API_KEY}